{% extends 'base.html.twig' %}

{% block body %}
    

            <table>
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Score</th>
                        <th>Nb Votants</th>
                    </tr>
                </thead>
                {% for film in liste_film %}
                    <tr>
                        <td><a href="{{ path('film_show', {'id':film.Id}) }}">{{ film.getTitre() }}</a></td>
                        <td class="center-text">{{ film.getScore() }}</td>
                        <td class="center-text">{{ film.getNbVotant() }}</td>
                    <tr/>
                {% endfor %}    
            </table>

    
{% endblock %}